/* Page background and styling */
body {
    background-image: url("background.png");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: "Verdana";
    text-align: center;
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
}

span {
    cursor: default;
}

/* Links */
a:link, a:active, a:visited {
    color: white;
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

a:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}


/*  Classes */
.round_wrapper {
    background-color: black;
    border: 1.5px solid white;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    width: 50%;
    margin: auto;
    padding: 5px;
}

.project_wrapper {
    background-color: black;
    border: 1.5px solid white;
    text-align: center;
    justify-content: center;
    border-radius: 1rem;
    width: 50%;
    margin: auto;
    padding: 5px;
}

.bold {
    font-weight: bold;
}

.shorten {
    display: block;
    margin-top: 0.5em;
    line-height: 190%;
}

.block {
    display: block;
}

/* Other */
abbr {
  text-decoration: none;
}
